<%= form_for(@post) do |f| %>
 

<ul>
  <% @post.errors.full_messages.each do |error| %>
  <li><%= error %></li>
  <% end %>
</ul>


<div class="form-group">
  <%= f.label :name, :id => "label" %><br><br>
  <%= f.text_area :name, :id => "name",  :cols => 30, :rows => 2 %>
</div>
<br><br>

<div class="form-group">
  <%= f.label :feedback, :id => "label" %><br><br>
  <%= f.text_area :feedback, :id => "feedback", :cols => 60, :rows => 15 %>
</div>

<p>
  <%= button_tag "Submit", :class => "btn1", :type => "submit" %>
</p>

<% end %>
